table,
th,
td {
  border-collapse: collapse;
  font-size: 25px;
  padding: 15px;
  margin: 60px;
  text-align: center;
  border: 1px solid lightgrey;
}
.op {
  border-collapse: collapse;
  font-size: 25px;
  padding: 15px;
  margin: 60px;
  text-align: center;
  border: 1px solid lightgrey;
  background-color: tomato;
  width: 25px;
}
td:hover {
  background-color: lightgrey;
}
