.premium {
  display: flex;
  justify-content: space-evenly;
  width: 1290px;
  height: 350px;
}
.premium1 {
  display: flex;
  justify-content: space-evenly;
  width: 1290px;
  height: 350px;
  margin-top: 90px;
}
