.item1 {
  background: #eca113e8;
  height: 25px;
  font-weight: bold;
  padding-left: 9px;
  padding-top: 8px;
  margin: 10px;
  width: 200px;
}
.item2 {
  background: #eca113e8;
  height: 25px;
  font-weight: bold;
  padding-left: 9px;
  padding-top: 8px;
  margin: 10px;
  width: 200px;
}
.item3 {
  background: #eca113e8;
  height: 25px;
  font-weight: bold;
  padding-left: 9px;
  padding-top: 8px;
  margin: 10px;
  width: 200px;
}
.item4 {
  background: #eca113e8;
  height: 25px;
  font-weight: bold;
  padding-left: 9px;
  padding-top: 8px;
  margin: 10px;
  width: 200px;
}
.name1 {
  border: 2px solid grey;
  padding: 5px;
  height: 233px;
  width: 200px;
}
.name4 {
  border: 2px solid black;
  padding: 5px;
  height: 233px;
  width: 200px;
}
.name2 {
  border: 2px solid black;
  padding: 5px;
  height: 233px;
  width: 200px;
}
.name3 {
  border: 2px solid black;
  padding: 5px;
  height: 233px;
  width: 200px;
}
#picture {
  width: 210px;
  height: 93px;
  margin-left: 10px;
  margin-top: -5%;
}
.services {
  display: flex;
  justify-content: space-evenly;
  width: 940px;
  height: 350px;
  background: black;
  margin: auto;
}
button {
  background-color: yellow;
  border: 2px solid black;
  float: right;
}
p {
  color: white;
  height: 68px;
  font-size: 10px;
}
