.head {
  color: #0e385f;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  width: 450px;
  word-spacing: -1px;
  margin-left: 200px;
  padding-top: 50px;
}
.img {
  width: 450px;
}
.Main-Page {
  display: flex;
}
.login {
  margin-left: 85px;
  font-size: 20px;
  color: #333;
}
.line {
  font-size: 19px;
  margin-top: -20px;
}
.last-name {
  margin-left: 10px;
}
.first {
  padding: 10px 10px;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  margin: 0;
}
.email {
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 0;
  width: 372px;
  margin-top: 10px;
}
.birthday,
.Gender {
  color: #90949c;
  font-size: 16px;
  font-weight: bold;
}
.date,
.month,
.Year {
  width: 58px;
  height: 28px;
  padding: 2px;
}
.calendar {
  margin-top: -10px;
}
.radio-button1,
.radio-button2,
.radio-button3 {
  margin-left: 10px;
}
.link-1 {
  color: #777;
  font-size: 11px;
  width: 316px;
  margin-left: 2px;
  margin-top: 14px;
}
.Sign-up {
  width: 194px;
  height: 39px;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  background-color: #69a74e;
  background: linear-gradient(#67ae55, #578843);
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.foot {
  border-top: 1px solid #dddfe2;
  color: #666;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 15px;
}
.create {
  text-decoration: none;
  color: blueviolet;
}
.create:hover {
  text-decoration: underline;
}
