.head {
  color: #0e385f;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  width: 450px;
  word-spacing: -1px;
  margin-left: 200px;
  padding-top: 50px;
}
.img {
  width: 450px;
  margin-left: 220px;
}
