.card {
  width: 405px;
  height: 288px;
  padding: 30px;
  padding-top: 15px;
  padding-right: 0;
}
.pic {
  width: 359px;
  height: 249px;
  border: 5px solid white;
}

.body-section {
  background: black;
  display: flex;
  height: 300px;
}
.about-ppc {
  width: 540px;
  height: 289px;
  padding: 15px;
  color: white;
}
.head {
  width: 470px;
  height: 20px;
  background: #eca113e8;
  padding: 5px;
  font-size: 15px;
  text-indent: 10px;
  color: black;
  padding-top: 7px;
  margin-top: 0;
}
.about {
  width: 480px;
  height: 260px;
  border: 1px solid black;
  background: grey;
}
h4 {
  font-size: 14px;
}
p {
  font-size: 12px;
  width: 96%;
}
.description {
  padding-left: 15px;
}
