.header1 {
  font-size: 40px;
  color: #009900;
  font-weight: bold;
}
.para {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 15px;
}
.menu {
  position: sticky;
  top: 0;
  background-color: #009900;
  padding: 10px 0px 10px 0px;
  color: white;
  margin: 0 auto;
  overflow: hidden;
}
.menu a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.menu-log {
  float: right;
  right: auto;
}
.footer {
  width: 100%;
  bottom: 0%;
  background-color: black;
  color: #fff;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.body_sec {
  margin-left: 20px;
}
