.udemy-header {
  width: 1367px;
  height: 55px;
  background: white;
}
.udemy-image {
  width: 106px;
  height: 34px;
  margin-left: 25px;
  margin-top: 10px;
  cursor: pointer;
}
.categories {
  color: #505763;
  margin-left: 55px;
  cursor: pointer;
  margin-top: -20px;
  margin-left: 160px;
}
.text {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 563px;
  background: #f1f1f1;
  margin-top: -40px;
  margin-left: 288px;
}
.button1 {
  padding: 20px;
  font-size: 17px;
  border: 1px solid grey;
  width: 50px;
  background: #f1f1f1;
  margin-top: -42px;
  margin-right: 490px;
  cursor: pointer;
  height: 20px;
}
.icon {
  height: 30px;
  width: 30px;
  margin-bottom: 80px;
}
.teach {
  margin-left: 900px;
  margin-top: -40px;
  color: #505763;
  border: 1px solid white;
  padding: 5px 5px 0px 5px;
  width: 110px;
  height: 30px;
}
.teach:hover {
  background: #505763;
  border-radius: 3px;
  cursor: pointer;
  color: white;
}
.courses {
  margin-left: 1050px;
  margin-top: -38px;
  color: #505763;
  border: 1px solid white;
  padding: 5px 5px 0px 5px;
  width: 80px;
  height: 30px;
}
.courses:hover {
  background: #505763;
  border-radius: 3px;
  cursor: pointer;
  color: white;
}
.heart {
  float: right;
  width: 23px;
  height: 18px;
  margin-right: 170px;
  margin-top: -30px;
}
.cart {
  float: right;
  width: 23px;
  height: 18px;
  margin-right: 130px;
  margin-top: -30px;
}
.notification-icon {
  float: right;
  width: 23px;
  height: 18px;
  margin-right: 90px;
  margin-top: -30px;
}
