.hacker {
  background-color: #ff6600;
  width: 1132px;
  height: 27;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  padding: 5px;
}
.log-in {
  float: right;
}
.hacker-1 {
  font-weight: bold;
}
.hacker-header a {
  margin-right: 5px;
  margin-left: 5px;
}
.y {
  color: white;
  font-weight: bold;
}
